::ng-deep .field-customization {
    min-height: 32px;
}
::ng-deep .field-customization .dx-lookup-field {
    padding: 0 5px;
}
::ng-deep .custom-field > img {
    vertical-align: middle;
    height: 30px;
    width: 21px;
}
::ng-deep .custom-field > div {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    font-size: 14px;
    margin-left: 5px;
}
::ng-deep .custom-item > img {
    height: 48px;
    width: 38px;
    margin-right: 10px;
}
::ng-deep .custom-item > div {
    display: inline-block;
    vertical-align: top;
    line-height: 48px;
    font-size: 15px;
}
::ng-deep .dx-viewport:not(.dx-theme-ios7) .dx-fieldset {
    width: 40%;
    float: left;
}
