<div class="row">
  <div class="col-md-12">
    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-value">
          <dx-button [text]="'Добавить'" [type]="'success'" (onClick)="addUser()"></dx-button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="list-container">
      <dx-list 
          [dataSource]="users"
          [searchEnabled]="true"
          searchExpr="name"
          [menuItems]="menuItems"
          [menuMode] = "'context'"
          searchMode="contains">
              <div *dxTemplate="let data of 'item'">
                  <div>{{data.name}}</div>
              </div>
      </dx-list>
    </div>
    <dx-popup class="popup" [width]="600" [height]="400" [showTitle]="true" [(title)]="selectedName" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
      <div class="dx-fieldset">
        <div class="dx-field">
          <div class="dx-field-label">Имя</div>
          <div class="dx-field-value">
            <dx-text-box [(value)]="selectUser.name" [showClearButton]="true"></dx-text-box>
          </div>
        </div>
      </div>
      <div class="dx-fieldset">
        <div class="dx-field">
          <div class="dx-field-value">
            <dx-button [text]="'Сохранить'" [type]="'success'" (onClick)="saveUser()"></dx-button>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-value">
            <dx-button [text]="'Закрыть'" [type]="'normal'" (onClick)="closeUser()"></dx-button>
          </div>
        </div>
      </div>
    </div>
  </dx-popup>    
  </div>
</div>


