<div class="row">
  <div class="col-md-12">
    <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true"
      [shading]="true" [closeOnOutsideClick]="true">
    </dx-load-panel>
    <div class="table-responsive">
      <dx-data-grid id="gridContainer" #grid [dataSource]="dishes"
        (onRowClick)="rowClickEvent($event)" (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Поиск..."></dxo-search-panel>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-selection mode="single" [deferred]="true"></dxo-selection>
        <dxi-column caption="Группа" dataField="group" [groupIndex]="0"></dxi-column>        
        <dxi-column caption="Название" dataField="name"></dxi-column>
        <dxi-column caption="Цена" dataField="price" width="150"></dxi-column>
        <dxi-column caption="Поставщик" dataField="supplier.name"></dxi-column>
        <dxo-grouping #expand [autoExpandAll]="expanded"></dxo-grouping>
      </dx-data-grid>
      <dx-popup class="popup" [width]="600" [height]="600" [showTitle]="true" [(title)]="selectedName" [dragEnabled]="false"
      [closeOnOutsideClick]="true" [(visible)]="popupVisible">
      <div *dxTemplate="let data of 'content'">
        <div class="dx-fieldset">
            <div class="dx-field">
                <div class="dx-field-label">Группа</div>
                <div class="dx-field-value">
                    <dx-select-box [items]="groups" [(value)]="selectedDish.group"></dx-select-box>
                </div>
            </div>
          <div class="dx-field">
            <div class="dx-field-label">Имя</div>
            <div class="dx-field-value">
              <dx-text-box [(value)]="selectedDish.name" [showClearButton]="true"></dx-text-box>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-label">Описание</div>
            <div class="dx-field-value">
              <dx-text-box [(value)]="selectedDish.description" [showClearButton]="true"></dx-text-box>
            </div>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-label">Цена</div>
            <div class="dx-field-value">
              <dx-number-box [(value)]="selectedDish.price" [showSpinButtons]="true" [showClearButton]="true"></dx-number-box>
            </div>
          </div>
        </div>
        <div class="dx-fieldset">
            <div class="dx-field">
              <div class="dx-field-label">{{selectedDish.supplier.name}}</div>
            </div>
          </div>  
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Выбрать поставщика'" [type]="'default'" (onClick)="selectSupplier()"></dx-button>
            </div>
          </div>
        </div> 
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Сохранить'" [type]="'success'" (onClick)="saveDish()"></dx-button>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Закрыть'" [type]="'normal'" (onClick)="closeDish()"></dx-button>
            </div>
          </div>
          <div class="dx-field">
              <div class="dx-field-value">
                <dx-button [text]="'Удалить'" [type]="'danger'" (onClick)="deleteDish()"></dx-button>
              </div>
            </div>
        </div>
      </div>
    </dx-popup>    
    <dx-popup class="popup" [width]="600" [height]="800" [showTitle]="true" [title]="'Поставщики'" [dragEnabled]="false"
    [closeOnOutsideClick]="true" [(visible)]="popupSuppliersVisible">
    <div *dxTemplate="let data of 'content'">
      <div class="dx-fieldset">
        <div class="widget-container">
            <dx-list 
            [dataSource]="suppliers"
            [searchEnabled]="true"
            searchExpr="name"
            [menuMode] = "'context'"
            [showSelectionControls]="true"
            selectionMode="single"
            [(selectedItems)]="selectedSuppliers"
            (onSelectionChanged)="onSelectedItems($event)"            
            searchMode="contains">
                <div *dxTemplate="let data of 'item'">
                    <div>{{data.name}}</div>
                </div>
        </dx-list>
      </div>
      </div>
      <div class="dx-fieldset">
        <div class="dx-field">
          <div class="dx-field-value">
            <dx-button [text]="'Добавить'" [type]="'success'" (onClick)="addSupplier()"></dx-button>
          </div>
        </div>
        <div class="dx-field">
          <div class="dx-field-value">
            <dx-button [text]="'Закрыть'" [type]="'normal'" (onClick)="closeSupplier()"></dx-button>
          </div>
        </div>
      </div>
    </div>
  </dx-popup>  
  </div>
</div>