<div class="row">
  <div class="col-md-12">
    <dx-scheduler 
      [dataSource]="appointments" 
      [views]='["agenda", "month"]' 
      currentView="agenda" 
      [currentDate]="currentDate"
      [startDayHour]="9" 
      (onCellContextMenu)="onCellContextMenu($event)" 
      appointmentTooltipTemplate="tooltip-template"
      (onAppointmentFormCreated)="onAppointmentFormCreated($event)"
      [height]="600">
    <div *dxTemplate="let menu of 'tooltip-template'">
        <div class='movie-tooltip'>
            <div class='movie-info'>
                <div class='movie-title'>
                    {{menu.name}}
                </div>
            </div><br />
            <dx-button text='Изменить' (onClick)='editMenu(menu)' type="default">
            </dx-button>
            <dx-button text='Удалить' (onClick)='deleteMenufromSheduler(menu)' type="danger">
            </dx-button>
        </div>
    </div>
    </dx-scheduler>

    <dx-context-menu #cellMenu [dataSource]="cellContextMenuItems" target=".dx-scheduler-date-table-cell" (onItemClick)="onContextMenuItemClick($event)"
      [width]="200">
    </dx-context-menu>
    <dx-popup class="popup" [width]="600" [height]="800" [showTitle]="true" [title]="'Меню'" [dragEnabled]="false" [closeOnOutsideClick]="true"
      [(visible)]="popupVisible">
      <div *dxTemplate="let data of 'content'">
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-label">Название</div>
            <div class="dx-field-value">
              <dx-text-box [(value)]="selectedMenu.name" [showClearButton]="true"></dx-text-box>
            </div>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-label">{{selectedMenu.supplier.name}}</div>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Выбрать поставщика'" [type]="'default'" (onClick)="selectSupplier()"></dx-button>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [visible]="dishesList.length > 0" [text]="'Добавить блюда'" [type]="'default'" (onClick)="selectDish()"></dx-button>
            </div>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="widget-container">
            <dx-list [dataSource]="selectedMenu.dishes">
              <div *dxTemplate="let data of 'item'">
                <div>{{data.name}}</div>
              </div>
            </dx-list>
          </div>
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Сохранить'" [type]="'success'" (onClick)="saveMenu()"></dx-button>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Закрыть'" [type]="'normal'" (onClick)="closeMenu()"></dx-button>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Удалить'" [type]="'danger'" (onClick)="deleteMenu()"></dx-button>
            </div>
          </div>
        </div>
      </div>
    </dx-popup>
    <dx-popup class="popup" [width]="600" [height]="800" [showTitle]="true" [title]="'Поставщики'" [dragEnabled]="false" [closeOnOutsideClick]="true"
      [(visible)]="popupSuppliersVisible">
      <div *dxTemplate="let data of 'content'">
        <div class="dx-fieldset">
          <div class="widget-container">
            <dx-list [dataSource]="suppliers" [searchEnabled]="true" searchExpr="name" [menuMode]="'context'" [showSelectionControls]="true"
              selectionMode="single" [(selectedItems)]="selectedSuppliers" searchMode="contains">
              <div *dxTemplate="let data of 'item'">
                <div>{{data.name}}</div>
              </div>
            </dx-list>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Добавить'" [type]="'success'" (onClick)="addSupplier()"></dx-button>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Закрыть'" [type]="'normal'" (onClick)="closeSupplier()"></dx-button>
            </div>
          </div>
        </div>
      </div>
    </dx-popup>
    <dx-popup class="popup" [width]="600" [height]="800" [showTitle]="true" [title]="'Блюда'" [dragEnabled]="false" [closeOnOutsideClick]="true"
      [(visible)]="popupDishesVisible">
      <div *dxTemplate="let data of 'content'">
        <div class="dx-fieldset">
          <div class="widget-container">
            <dx-list [dataSource]="dishesList" [searchEnabled]="true" searchExpr="name" [menuMode]="'context'" [showSelectionControls]="true"
              selectionMode="multiple" [(selectedItems)]="selectedDishes" searchMode="contains">
              <div *dxTemplate="let data of 'item'">
                <div>{{data.name}}</div>
              </div>
            </dx-list>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Добавить'" [type]="'success'" (onClick)="addDish()"></dx-button>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Закрыть'" [type]="'normal'" (onClick)="closeDish()"></dx-button>
            </div>
          </div>
        </div>
      </div>
    </dx-popup>
  </div>
</div>