::ng-deep .dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
    padding: 14px;
}

::ng-deep .showtime-preview > div:first-child {
    font-size: 12px;
    white-space: normal;
}

::ng-deep .showtime-preview > div:not(:first-child) {
    font-size: 11px;
    white-space: normal;
}

::ng-deep .movie-tooltip .movie-info {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    text-align: left;
}

::ng-deep .movie-tooltip img {
    height: 80px;
    margin-bottom: 10px;
}

::ng-deep .movie-tooltip .movie-title {
    font-size: 1.5em;
    line-height: 40px;
}

::ng-deep .long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}