/*!
 * Start Bootstrap - SB Admin 2 v3.3.7+1 (http://startbootstrap.com/template-overviews/sb-admin-2)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
 .nav {
  padding-left: 0;
  list-style: none;
  float:right;
}

.navbar li > a {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar li {
  display: block;
  position: relative;
  box-sizing: border-box;
  float:left;
}