  <header class="main-header">
    <!-- Logo -->
    <a href="index.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>Devart</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Меню</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <div>
        <ul class="nav">
          <li>
            <a href="#" (onClick)="refreshData"><i class="fa fa-refresh"></i></a>
          </li>
          <!-- <li>
            <a href="#"><i class="fa fa-gears"></i></a>
          </li> -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
      <!-- Sidebar user panel -->
      <div class="user-panel">
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu tree" data-widget="tree">
        <li class="header">Администратор</li>
        <li>
          <a [routerLink]="['/admin/dinners']"><i class="fa fa-dashboard fa-fw"></i> Обеды</a>
        </li>
        <li>
          <a [routerLink]="['/admin/menus']"><i class="fa fa-dashboard fa-fw"></i> Меню</a>
        </li> 
        <li>
          <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Оплаты</a>
        </li> 
          <li>
            <a  [routerLink]="['/admin/dishes']"><i class="fa fa-dashboard fa-fw"></i> Блюда</a>
        </li> 
      <li>
        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Оценки</a>
      </li> 
      <li>
        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Отзывы</a>
      </li>
      <li>
        <a [routerLink]="['/admin/suppliers']"><i class="fa fa-dashboard fa-fw"></i> Поставщики</a>
    </li> 
      <li>
        <a [routerLink]="['/admin/users']"><i class="fa fa-dashboard fa-fw"></i> Сотрудники</a>
    </li>
      <li>
        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>


