<div class="dx-fieldset">
  <div class="dx-fieldset-header">Вход</div>
  <div class="dx-field">
      <dx-lookup
          [items]="users"
          searchExpr="['name']"
          valueExpr="id"
          displayExpr="name"
          title="Выберите сотрудника"
          placeholder="Выберите сотрудника"
          (onValueChanged)="valueChanged($event)">
      </dx-lookup>
  </div>
  <div class="dx-field">
    <div class="dx-field-value">
      <dx-button [text]="'Войти'" [type]="'success'" (onClick)="logIn()"></dx-button>
    </div>
  </div>
</div>
