<div class="row">
  <div class="col-md-12">
    <dx-scheduler 
      [dataSource]="appointments" 
      [views]='["agenda", "month"]' 
      currentView="agenda" 
      [currentDate]="currentDate"
      [startDayHour]="9" 
      (onAppointmentClick)="onAppointmentClick($event)" 
      [height]="600">
    </dx-scheduler>

    <dx-context-menu #cellMenu [dataSource]="cellContextMenuItems" target=".dx-scheduler-date-table-cell" (onItemClick)="onContextMenuItemClick($event)"
      [width]="200">
    </dx-context-menu>
    <dx-popup class="popup" [width]="600" [height]="800" [showTitle]="true" [title]="'Меню'" [dragEnabled]="false" [closeOnOutsideClick]="true"
      [(visible)]="popupVisible">
      <div *dxTemplate="let data of 'content'">
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-label">{{selectedMenu.name}}</div>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="dx-field">
            <div class="dx-field-label">{{selectedMenu.supplier.name}}</div>
          </div>
        </div>
        <div class="dx-fieldset">
          <div class="widget-container">
            <dx-list [dataSource]="selectedMenu.dishes" [searchEnabled]="true" searchExpr="name" [menuMode]="'context'" [showSelectionControls]="true"
            selectionMode="multiple" [(selectedItems)]="selectedDishes" searchMode="contains">
              <div *dxTemplate="let data of 'item'">
                <div>{{data.name}}</div>
              </div>
            </dx-list>
          </div>
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Сохранить'" [type]="'success'" (onClick)="saveDinner()"></dx-button>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Закрыть'" [type]="'normal'" (onClick)="close()"></dx-button>
            </div>
          </div>
          <div class="dx-field">
            <div class="dx-field-value">
              <dx-button [text]="'Очистить'" [type]="'danger'" (onClick)="deleteDinner()"></dx-button>
            </div>
          </div>
        </div>
      </div>
    </dx-popup>
  </div>
</div>