<div class="row">
  <div class="col-md-12">
    <dx-load-panel #loadPanel shadingColor="rgba(0,0,0,0.4)" [(visible)]="loadingVisible" [showIndicator]="true" [showPane]="true"
      [shading]="true" [closeOnOutsideClick]="true">
    </dx-load-panel>
    <div class="table-responsive">
      <dx-data-grid id="gridContainer" #grid [dataSource]="dinners" (onRowClick)="rowClickEvent($event)" 
      (onToolbarPreparing)="onToolbarPreparing($event)">
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Поиск..."></dxo-search-panel>
        <dxo-scrolling mode="virtual"></dxo-scrolling>
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-selection mode="single" [deferred]="true"></dxo-selection>
        <dxi-column caption="День" dataField="day" [groupIndex]="0"></dxi-column>
        <dxi-column caption="Название" dataField="dish.name"></dxi-column>
        <dxi-column caption="Цена" dataField="dish.price" width="150"></dxi-column>
        <dxi-column caption="Поставщик" dataField="supplier.name"></dxi-column>
        <dxi-column caption="Цена" dataField="dish.price"></dxi-column>
        <dxi-column caption="Количество" dataField="quantity"></dxi-column>
        <dxo-grouping #expand [autoExpandAll]="expanded"></dxo-grouping>
      </dx-data-grid>
    </div>
  </div>
</div>

<div *dxTemplate="let data of 'weekInfo'">
  <div class="informer">
      <h2 class="count">Неделя</h2>
      <span class="name">{{weekText}}</span>
  </div>
</div>
